*{
    margin:0;
    padding:0;
}
.main{
    border:5px solid gray;
    width: 50%;
    height: 75%;
    margin: 50px;
    position: relative;
}
.child1{
    position:absolute;
    border:2px solid gray;
    width: 15%;
    height: 15%;
    background-color: brown;   
    top:0;
    left:0;
}
.child2{
    position:absolute;
    border:2px solid gray;
    width: 15%;
    height: 15%;
    background-color:violet;   
    top:0;
    right:0;
}
.child3{
    position:absolute;
    border:2px solid gray;
    width: 15%;
    height: 15%;
    background-color:cornflowerblue;   
    bottom:0;
    right:0;
}
.child4{
    position:absolute;
    border:2px solid gray;
    width: 15%;
    height: 15%;
    background-color:blue;   
    bottom:0;
    left:0;
}
.child5{
    position: absolute;
    border:2px solid gray;
    width: 15%;
    height: 15%;
    background-color:lawngreen;  
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}