*{
    margin: 0;
    padding: 0;
}
.main{
    position: relative;
    border: 2px solid red;
    height: 500;
}
.sub{
    margin-bottom:10;
    margin-right: 10;
    position:absolute;
    right:0;
    bottom:0;
    border: 2px solid red;
}
body{
    background-color: pink;
    border: 2px solid red;
}
.prk{
    margin: 0;
}
.sub2{
    position:sticky;
    top: 0;
    left: 0;
    display: inline-block;
    border: 2px solid red;
    background-color: blue;
   
}

